
body{
    margin: 0%;
    padding: 0%;
}

#star-of-david{
    margin-left: 40%;
}

.MusicOfTheBodyOfChrist{
    background-image: url('./MusicMedia/MusicBackground.jpg');
    height: 100vh;
    top: 0;
    padding: 0%;
  
}

#MusicOfTheBodyOfChrist{
    color: whitesmoke;
    font-weight: bold;
    text-align: center;   
    font-size: 50px;
}





.dropdown {
    float: left;
    overflow: hidden;
    
  }
  
  .dropdown .dropbtn {
    font-size: 40px;
    font-weight: bold;  
    border: none;
    color: yellow;
    padding: 14px 16px;
    margin:0;
    background: none;    
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
   background-color: black;
   border-radius: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color:yellow;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color:black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .navbar {
    overflow: hidden;
    margin: 5%;
    margin-left: 25%;
  }
  



  /* PRELUDE */
.content{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
